:root{
    --font-weight-bold: bold;
    --font-weight-sm: 200px;
    --font-size-sm: 10px;
    --font-size-lg: 14px;
    --white-color: #fff;
    --beige-color: beige;
    --line-height-sm:20px ;
    --letter-spacing-sm:0.5px ;
    --border-radius-sm: 10px;
    --border-radius-lg: 20px;
    --border-radius-xxl: 50%;
    --border-width: 1px;
    --border-style: solid;
    --border-color: #ddd;
}

.dashboard-container{
    background: var(--white-color);
    max-width: unset;
    overflow: hidden;
}

.profile-image{
    border-radius: 40px;
}